<h1>引入图片</h1>
<!-- <img src="assets/images/01.png" alt="收藏" /> -->
<img [src]="picUrl" />

<hr>
<h1>循环数据，显示数据的索引</h1>

<ul>
    <li *ngFor="let item of list;let key=index;">
        {{key}}----{{item.title}}
    </li>
</ul>
<hr>
<h1 class="">条件判断语句 *ngIf</h1>
<div class="collapse navbar-collapse" *ngIf="flag">
    <img [src]="picUrl" />
</div>
<h1>管道</h1>
    {{today | date:'yyyy-MM-dd HH:mm ss'}}
<hr>

<button class="navbar-toggler" (click)="run()">执行事件</button>
<br>
<button class="btn btn-success" (click)="getData()">执行事件</button>

<hr>
<h1>双向数据绑定，用到FormModule</h1>
    <input type="text" [(ngModel)]="keywords" />
    {{keywords}}

    <button (click)="changeKeywords()">改变keywords的值</button>

<hr>
<br>