
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col col-lg-2 lighter">
            <img class="partrow" src="../../../assets/images/deeptissue.jpeg">
        </div>
        <div class="col col-lg-5 lighter">
            <div class="smalltitle">
                Deep Tissue
            </div>
            <div>
                A type of massage therapy, 
                deep tissue massage involves applying firm pressure 
                and slow strokes to reach deeper layers of muscle and 
                fascia (the connective tissue surrounding muscles). 
                It's used for chronic aches and pain and contracted areas 
                such as a stiff neck and upper back, low back pain, 
                leg muscle tightness, and sore shoulders.
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col col-lg-5 deeper">
            <div class="smalltitle">
                Relaxation Massage
            </div>
            <div>
                a relaxation massage generally covers most areas of the body. 
                Many therapists use specific neural muscular therapy 
                and connective tissue release techniques during a therapeutic massage. 
                
            </div>
        </div>
        <div class="col col-lg-2 deeper">
            <img class="partrow" src="../../../assets/images/relax_massage1.jpeg">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col col-lg-2 lighter">
            <img class="partrow" src="../../../assets/images/accupressure.jpg">
        </div>
        <div class="col col-lg-5 lighter">
            <div class="smalltitle">
                Acupressure massage
            </div>
            <div>
                Acupressure massage is an ancient remedy of Chinese traditional medicine 
                known to relieve pain in specific areas of the body. 
                Acupressure is often the choice for people who prefer a natural form 
                of pain relief instead of using medication.  
                The goal of acupressure massage is to bring relief from pain  
                without the use of medications.
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col col-lg-5 deeper">
            <div class="smalltitle">Hot Stone Massage</div>
            <div>
                Hot stone massage is a type of massage therapy that 
                involves the use of smooth, heated stones. 
                The massage therapist places the hot stones on specific points 
                on your body and may also hold the stones while giving the massage. 
                The localized heat and weight of the stones warm and relax muscles, 
                allowing the massage therapist to apply deeper pressure to those areas 
                without causing discomfort.
            </div>
        </div>
        <div class="col col-lg-2 deeper">
            <img class="partrow" src="../../../assets/images/hotstone.jpg">
        </div>
    </div>
</div>
