/* You can add global styles to this file, and also import other style files */

*{
    margin: 0px;
    padding: 0px;
}

ul,ol{
    list-style-type: none;
}


.content{
    width: 100%;
    height: 500px;
    display: flex;
}

.content .left{
    width: 200px;
    border-right: 1px solid #eee;
    height: 500px;
}

.content .right{
    flex:1;
}

.active{
    color: red;
}