
<h2>Time & Price for session</h2>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col">
      Time
    </div>
    <div class="col">
      Guest
    </div>
    <div class="col">
      Member
    </div>
    <div class="col-5">
      Note
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col">
      30 min
    </div>
    <div class="col">
      $38
    </div>
    <div class="col">
      $38
    </div>
    <div class="col-5">
      Back, shoulder, neck
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col">
      60 min
    </div>
    <div class="col">
      $58
    </div>
    <div class="col">
      $48
    </div>
    <div class="col-5">
      Whole body of back
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col">
      90 min
    </div>
    <div class="col">
      $80
    </div>
    <div class="col">
      $70
    </div>
    <div class="col-5">
      Whole body of back, face & feet
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col">
      120 min
    </div>
    <div class="col">
      $100
    </div>
    <div class="col">
      $90
    </div>
    <div class="col-5">
      Whole body of back & front
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col">
      90 min(4 hands)
    </div>
    <div class="col">
      $110
    </div>
    <div class="col">
      $90
    </div>
    <div class="col-5">
      Whole body of back & front
    </div>
  </div>
</div>
<hr>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      
    </div>
    <div class="col-md-8">
      
    </div>
  </div>
  <br>
  <div class="row justify-content-md-center">
    <div class="col col-lg-2 offset-lg-2">
      
    </div>
    <div class="col-md-8">
      
    </div>
  </div>
</div>