#my-carousel .carousel-inner .carousel-item img {
	/* display: block; */
    width: 100%;
    height: 400px;
    margin: auto;
}

.carousel-control-prev span{
    color: rgb(19, 18, 18);
}
.carousel-control-next span{
    color: rgb(19, 18, 18);
}

h5 {
    font-size: 40px;
    font-style: oblique;
    font-weight: bold;
    color: rgb(50, 236, 13);
}
