<h1>home works!</h1>

<div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="..." alt="...">
      </a>
    </div>
    ...
  </div>
  <!-- Toolbar -->
  
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <a class="p-2 text-dark" href="#">Home</a>
      <a class="p-2 text-dark" href="#">Services</a>
      <a class="p-2 text-dark" href="#">About Us</a>
      <a class="p-2 text-dark" href="#">Follow us</a>
    </div>
  </nav>
  
  <div class="container">
    <div class="card highlight-card card-small">
      <span>
        Welcome to Holistic Massage Therapy!
      </span>
    </div>
    <div class="container-fluid">
      <h2>Bootstrap Horizontal Scrolling with Flexbox</h2>
      <div class="row flex-row flex-nowrap" id="box">
        <div class="col-1 clo-sm-6 col-md-4 col-lg-12">
          <div class="card card-block">
            <img src="../assets/images/massage1.jpeg">
          </div>
        </div>
        <div class="col-1 clo-sm-6 col-md-4 col-lg-12">
          <div class="card card-block">
            <img src="../assets/images/massage2.jpeg">
          </div>
        </div>
      </div>
    </div>
  
    <div class="scrolling-wrapper">
      <div class="card">
        <h2>
          <img src="../assets/images/massage1.jpeg">
        </h2>
      </div>
      <div class="card">
        <h2>
          <img src="../assets/images/massage2.jpeg">
        </h2>
      </div>
    </div>
  
  
    <div class="row mb-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <div class="col-4 themed-grid-col">Massage Services</div>
            </th>
            <th>
              <div class="col-4 themed-grid-col">.space</div>
            </th>
            <th>
              <div class="col-4 themed-grid-col">Price</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>MassageType</td>
            <td>000</td>
            <td>$28</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>MassageType2</td>
            <td>111</td>
            <td>$38</td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>