

<div class="jumbotron">
<footer class="footer navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <p text="center">Gift Certificates Available</p>
        </div>
        <div class="row">
            <div class="offset-lg-2">
                Address: 2924 South Park Road, Bethel Park, 15102
            </div>
        </div>
        <br>
        <div class="row">
            <div class="offset-lg-2">
                To make an appointment, please call
                <br>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-2">
                <img width="32px" src="../../../assets/icons8-ringing-phone-64.png">
                412-833-3077, 412-888-6788
            </div>
        </div>
    </div>
</footer>
</div>
