
h2{
    text-align: center;
}
.todolist{
    width: 400px;
    margin: 20px auto;
}

.search  .form_input{
    margin-bottom: 20px;
    width: 300px;
    height: 32px;
}

.todolist li{
    line-height: 40px;
}

