<div class="container">
    <div row="class">
        <div class="col=lg-6 offset-lg-4">
            <img style="width: 400px" src="../assets/images/license1.jpeg">
            <div class="col-lg-6" style="text-align: center;">
                <h5>Our License</h5>
                <p></p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <p class="col-lg-8 offset-lg-2">&nbsp;&nbsp;&nbsp;&nbsp;AiJu Holistic Massage has opened over 10 years. 
            Massage is an effective treatment for reducing stress, pain and muscle tension. 
            Qualified therapist here offers a full-body massage in a calm and tranquil atmosphere with shower facilities. 
        </p>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div style="color: red;">
                Please Note: 
            </div>
            <div style="font-style:italic; font-weight: bolder;">
                &nbsp;&nbsp;&nbsp;&nbsp; We have moved from 2971 South Park Road, to 2924 South Park Road.
            </div>
        </div>
    </div>
</div>
